<h1 style="text-align:center;" >Bait Assistant</h1>

<table style="width:100%", border=1, style="text-align:center;">
  <tr>
    <td><a href="/slowbaits">Slow Moving Baits</td>
    <td><a href="/movebaits">Moving Baits</a></td>
    <td><a href="/topwaterbaits">Top Water Baits</a></td>
  </tr>
</table> <hr>

<p> You are located in <%= @loc%>.<br> The current temperature is approximately <%= @temp%>°F.<br>

The best baits to throw are <%= @a %><br>

<%= @b %>
 </p>


<hr> <a href="/">Go to homepage</a>
