<h1 style="text-align:center;" >Ultimate Bass Fishing</h1>

<table style="width:100%", border=1, style="text-align:center;">
  <tr>
    <td><a href="/slowbaits">Slow Moving Baits</td>
    <td><a href="/movebaits">Moving Baits</a></td>
    <td><a href="/topwaterbaits">Top Water Baits</a></td>
  </tr>
</table>

<h2>Who am I</h2>
<hr>

<p> My name is Jun and I have been fishing for 18 years off and Back then, it was just a fun weekend family event where we could make an excuse to get together and cook food. However, it evolved to be much more for me. I find fishing to be very therapeutic while also being a ton of fun. There's nothing like a big bass tugging the end of the line. </p>
<hr>

<h2>Why Bass Fish?</h2>
<p>Because they're in practically every body of water in America! Through means of natural and artificial ways, bass have sprung up almost everywhere. You can pull over on the side of any highway and catch a bass in a roadside pond. Not only are bass found everywhere, they are aggressive and strong which make them very fun to fish for. There are hundreds if not thousands of ways to fish for bass. Every technique has a certain finesse and every fisherperson has a way with their lure. Heck, even using live bait can have some finesse to it!</p><hr>

<h2>Some Difficulty</h2>
<p>Bass fishing has become increasingly popular in the entire world. Even though bass fishing is an American-born sport, it has become loved by many others all over the world. Some people have even introduced them to their own private ponds and lakes in different countries to continue finding these hearty fish. These fish, while aggressive, can be somewhat timid and can definitely feel the pressures of multiple fisherman. They aren't looking to get caught but just to feed their voracious appetites. Too many fisherpeople in one spot can definitely deter the catch since bass will become accustomed to certain baits.</p><hr>

<h2>You can do it!</h2>
<p>Remember that there are many factors to being able to catch bass! These fish have minds of their own and are intelligent predators. They aren't super easily fooled.<br>
<br> Here are some great tips to keep in mind:
<li>Take your time, try moving the bait at alternating speeds
<li>Switching lures every 20 minutes
<li>Sometimes you just have to be patient for a bite window
</p> <hr>

<h2>What should I use to fish?</h2>
<p>There are three main categories of baits that I love using, slow moving baits, moving baits, and top water baits. They are listed in a table at the top of this page! Visiting them will take you to see what I like throwing. <br>
In addition, I can help you narrow down your conditions to see what you should throw!</p> 

<form action="/baitfinder">
<label for = "location">What is your state?</label>
<input id = "location" name = "location" >
<button>Find baits!</button>

